<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>country list</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>

    <header class="wrapp">
        <h1 class="logo">Countries</h1>
        <!-- <p class="link" id='link-to-register'>Log out</p> -->
       </header>

    <main class="wrapp">
        <div class="task-conteiner">    
            <div id="conteiner-loader">
            </div>
                <!-- <select name="country" id="select-country" class="select-country"></select> -->
            <div class="conteiner-list left">
                <input type="text" id="js-input-filter-city" class="new-task" placeholder="Source city" />
                <div id="js-list-city" class="list-country">
                </div>
            </div>
            <div class="conteiner-list right">    
                <input type="text" id="js-input-filter" class="new-task" placeholder="Source country" />
                <div id="js-list-country" class="list-country">
                </div>
            </div>
        </div>
    </main>
    
    <script src="./main.js"></script>
</body>
</html>