<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>register</title>
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>

    <header class="wrapp">
        <h1 class="logo">Please Register</h1>        
    </header>

    <main class="wrapp">
        <div class="conteiner-form">
            <div id='error-conteiner' class="error-box">
            
            </div>
            <h2>Register</h2>
            
            <img src="https://png.icons8.com/ultraviolet/1600/login-as-user.png" height="96" width="96" alt="picture">
            <form id='register-form'>
                <input type="email" name="email" placeholder="Email" class="default-input">              
                <input type="text" name="name" placeholder="Name" class="default-input">
                <input type="text" name="surname" placeholder="Surname" class="default-input">
                <input type="password" name="password" placeholder="Password" class="default-input">
                <input type="password" name="dblpassword" placeholder="Repeat password" class="default-input">
                 <p class="link" id='link-to-login'>Login</p>
                <button type="submit" class="button">Register</button>
            </form>
            
        </div>
    <script src="./register.js"></script>
</body>
</html>